@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="image-container" style="background-color:yellow;">
    <p class="motivational-thought">"Education is the key to unlocking the world, a passport to freedom."</p>
    <img src="~/images/school.jpg" alt="School Image" class="school-image"/>
    
</div>