@page
@model StudentApplication.Pages.Student.GetModel
@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Information</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin: 20px 0;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    
        <form method="get">
            <label for="studentId">Enter Student ID: </label>
            <input type="text" id="studentId" name="Id" />

            <button type="submit">Fetch Student</button>
        </form>
   


    @* <table>
           <thead>
                <tr>
                    <th>ID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Student != null)
                    {
                        <tr>
                            <td>@Model.Student.Id</td>
                            <td>@Model.Student.FirstName</td>
                            <td>@Model.Student.LastName</td>
                            <td>@Model.Student.Email</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">User not found</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
     *@
</body>
</html>
